a {
    color: #a05abd;
}

.ink-navigation ul.menu.black li a {
    color: #a05abd;

}

.pane {
    padding: 0.2em;
    margin: 0.5em;
    background-color:#fff;
}
.cell {
   margin: 0.2em auto;
}

.tall {
    height:100%;
}



@media only screen and (max-width: 960px) {
    .no-display-medium {
        display:none;
    }
    

}
@media only screen and (max-width: 640px) {
    .no-display-small {
        display:none !important;
    }
    

}
@media only screen and (max-width: 320px) {
    .no-display-tiny  {
        display:none;
    }
}

.button-form {
    color: fff;
    border: none;
    background-color: #a05abd;
    padding: 15px;
}

.button-form:hover {
    color: fff;
    border: none;
    background-color: #a05abd;
}

.button-form:active {
    color: fff;
    border: none;
    background-color: #a05abd;
}


.box-danger {
    color: #420006;
    background-color: #ffbfc5;
    margin: 30px;
    padding: 15px;
    text-align: center;
}


body {
    background-color: #eaeaea;
    overflow-x: hidden;
    padding-top:50px;
}

/*scrollbar settings*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
    background: #888; 
}


::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*slider settings*/
.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: #d3d3d3;
    outline: none; 
    opacity: 0.7; 
    transition: opacity .17s;
    margin: 0.2em auto;
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px;
    background: #000000; 
    cursor: pointer; 
}
.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #4CAF50; 
    cursor: pointer; 

}

#sizeDisplay {

    margin:0px auto;
    clear:both;
}

#sizeDisplayContainer {
    width:100%;
    height:150px;
    padding: 0.2em;
}
canvas {
    position:absolute;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  
   user-select: none;
}

.centered-text {
    text-align:center;
}

.status-icon {
    max-width:30px;
    display:inline-block;
}

.green {
    color: #27c83f;
}
.pane {
    margin: 0.2em;
}
#topbar {
    position: fixed;
    z-index:100;
    width: 100%;
    top:0;
}

.fa-button {
    cursor:pointer;
}

.fa-button:hover {
    color:#a05abd;
}
