{% extends 'layout.html' %}


{% block includes %}

    <script type="text/javascript" src="{{url_for('static', filename='socketio.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/socket-connect.js')}}"></script>
    <script>
          
        window.addEventListener('load', function() {
            socket.on('connect', function() {
                room_code = '{{ room.room_code }}';
                user_auth = '{{ user.auth_token }}';
                socket.emit('join', {'room':room_code, 'auth_token':user_auth});
            });
        });

    </script>
    <script src="{{url_for('static', filename='artisan.js')}}"></script> <!-- Artisan JS -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/canvas.css')}}" /> <!-- canvas CSS file -->
    <script src="{{url_for('static', filename='artpad.js')}}"></script>
    <script src="{{url_for('static', filename='artpadmulti.js')}}"></script>
    
{% endblock %}

{% block content %}    



    <!-- main canvas and tools section -->
    <div class="ink-grid">
      <div class="column-group" id="art-content">
          <div class="all-80 small-100 tiny-100 noselect tall" id="canvas-wrapper">
              <div class="tall pane" id="canvas-container">
                    <div id="spinnerContainer" class="spinnerContainer">
                        <img class="spinner" id="spinner" src="{{url_for('static', filename='spinner.gif')}}" />
                    </div>
                    {% if pictionary %}
                        {% include 'pictionary-idle-message.html' %}
                    {% endif %}
              </div>
          </div>
          <div class="all-20 no-display-small" id="toolbar-holder">
            <div class="tall pane no-display-small">
                {% include 'toolbar.html' %}
            </div>
          </div>
      
      </div>
      
    </div>
    <div class="ink-grid only-display-small">
        <div class="column-group">
            {% include 'toolbar-mobile.html' %}
        </div>
    </div>
    

    <!-- lower chat and userbar section -->
    {% include 'chat.html' %}
      

    <script>
        var cv = document.getElementById("canvas-container");
        artPad = new MultiUserArtPad(cv); 
        siteData = {room: '{{ room.id }}', uid: '{{ user.id }}'};
        staticURL = "{{url_for('static', filename='')}}";
        document.getElementById('canvas-containerartpad').style.display = 'none';
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/canvas.js')}}"></script>
    {% if pictionary %}
        {% include 'pictionary.html' %}
    {% endif %}
{% endblock %}
