<html onmouseleave="stopPainting()">
    <head>
        <script src="{{url_for('static', filename='artisan.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='socketio.min.js')}}"></script>
        <script>
          
            var socket = io.connect('localhost:5000');

            socket.on('connect', function() {
                room_code = '{{ room.room_code }}';
                user_auth = '{{ user.auth_token }}';
                socket.emit('join', {'room':room_code, 'auth_token':user_auth});
            });

        </script>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='styles/canvas.css')}}" />
        <style>
        
                
            
        </style>
    </head>
    <body id="page">
        {% include 'topbar.html' %}
        {% include 'flashes.html' %}
        <div class="box canvas-wrapper centered">
            
            <script src="{{url_for('static', filename='artpad.js')}}"></script>
            <script src="{{url_for('static', filename='artpadmulti.js')}}"></script>
            <script src="{{url_for('static', filename='html5kellycolorpicker.min.js')}}"></script>


            {% include 'chat.html' %}
            

            
            <div id="container" style="max-width:1100px;height:700px;" onmousedown="syncBrushValues();">
                <div id="spinnerContainer" class="spinnerContainer">
                    <img class="spinner" id="spinner" src="{{url_for('static', filename='spinner.gif')}}" />
                </div>
                {% if pictionary %}
                    {% include 'pictionary-idle-message.html' %}
                {% endif %}

            </div>
            

            
            <div id="colorbar">
                <div style="height:220px;width:120px;margin:0px auto;" >
                    <canvas id='picker'  onmousedown="usingControls()" onmouseup="updateColor();notUsingControls();syncBrushValues();" style="margin-top:40px;" ></canvas>
                    
                </div>

                <input id="colorpicker" value="#000000" type="hidden">
              
                <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="10" class="slider" id="sizeSlider" onchange="updateSize()" onmousedown="usingControls()" onmouseup="notUsingControls()">
                </div>
                <div id ="sizeDisplayContainer" style="width: 100%;height: 200px;" onresize="updateSize()">
                    <canvas id="sizeDisplay"></canvas>
                </div>
                <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="100" class="slider" id="alphaSlider" onchange="updateAlpha()" onmousedown="usingControls()" onmouseup="notUsingControls()">
                </div>
                <div style="text-align:center">
                    <img class="control-button" src="{{url_for('static', filename='undo.gif')}}" onclick="artPad.localUndo()" />
                    <img class="control-button" src="{{url_for('static', filename='redo.gif')}}" onclick="artPad.localRedo()" />
                    <img class="control-button" src="{{url_for('static', filename='reset.gif')}}" onclick="artPad.localReset()" />
                </div>
            </div>

            
            
            <script>
                var cv = document.getElementById("container");
                artPad = new MultiUserArtPad(cv);
                document.getElementById('containerartpad').style.display = 'none';
                siteData = {room: '{{ room.id }}', uid: '{{ user.id }}'};
                staticURL = "{{url_for('static', filename='')}}";
            </script>
            <script type="text/javascript" src="{{url_for('static', filename='scripts/canvas.js')}}"></script>
            
               
          
            {% if pictionary %}
                {% include 'pictionary.html' %}
            {% endif %}

            
            
            
        </div>
        
    </body>
</html>