 <style>
    .chat-container {
        
        max-width:300px;
        height:700px;
        float:left;
        width:16%;
        
    }
    .chat-messages {
        overflow-y:scroll;
        height:580px;
        border-left:1px solid #ddd;
    }
    .chat-message-body {
        width:70%;
        color:#aaa;
        display:inline-block;
        margin: 5px;
    }
    .chat-message {
        border-bottom:1px solid #eee;
        display:flex;
        padding: 5px;
        border: 1px solid #eee;
        margin: 5px;
        border-radius: 4px;
        animation: border-change 0.3s;
    }
    .chat-input {
        height:120px;
        
    }
    .chat-textarea {


        float:left;
        height:70px;
        border: 1px solid #aaa;
        width: 95%;
        margin:4px;
        resize: none;
    }
    .chat-frogvatar-container {
        vertical-align:middle;
        height: 50px;
        width: 50px;
        position: relative;
        margin: auto;
        display: flex;
        float:right;
    }
    .username {
        color: #000;
        margin-top: 5px;
        display: inline-block;
    }
    .user-container {
        height:700px;
        float:left;
        max-width:200px;
        width:10%;
    }
    
    .user-box {
        height:70px;
        margin-bottom:5px;
        margin-right:5px;
        padding: 5px;
        background-color:#fff;
        display:flex;
        border:1px solid #ddd;
        border-radius:5px;
        
    }
    
    .notification {
        display: flex;
        vertical-align:middle;
        width:150px;
        font-size:14px;
        color:#000;
        margin: auto;
    }
    .status-icon {
        float:right;
        max-height:50px;
        max-width:50px;
    }
    .ribbot-text {
        font-family: monospace; 
    }
    @keyframes border-change {
        from { border-color:orangered; }
        to   { border-color:#eee; }
    }
    
    
    
 </style>
 
<div id="userbar" class="user-container no-display-small">

</div>
<div id="chatbar" class="chat-container no-display-small">
    <div class="chat-messages" id="chat-messages">
        
    </div>
    <div class="chat-input" id="chat-input">
      <textarea class="chat-textarea" id="chat-textarea" onkeypress="handleInput(event);"></textarea>
      
     <button class="form-button right" onclick="sendMessage()" >Send</button>
    </div>
    
    
    <script>
        var chatUsers = [];

        
        function appendChatMessage(uid, message) {
           var user = getUser(uid);
           var chatNode = document.createElement("div");
           var chatMessageUsername = document.createElement("span");
           var chatMessageBody = document.createElement("div");
           
           chatNode.classList.add("chat-message");
           chatMessageUsername.classList.add("username");
           chatMessageBody.classList.add("chat-message-body");
           
           var chatMessageBodyText = document.createElement("p");
           
           
           var messageFrogvatar = document.createElement("div");
           
           if (uid == 'ribbot') {
                messageFrogvatar.innerHTML +=  "<img src=\""+"{{url_for('static', filename='ribbot.gif')}}" + "\"class='frogvatar'/>";
                chatNode.classList.add("ribbot-text");
                chatMessageUsername.innerHTML = 'RIBBOT';
           } else {
           
           
          
               
               messageFrogvatar.innerHTML +=  "<img src=\""+"{{url_for('static', filename="")}}" + "head.gif" + "\"class='frogvatar'/>";
               messageFrogvatar.innerHTML +=  "<img src=\""+"{{url_for('static', filename="")}}"  +"eyes-" + (user.frogvatarEyes + 1) + ".gif\"class='frogvatar'/>";
               messageFrogvatar.innerHTML +=  "<img src=\""+"{{url_for('static', filename="")}}"  +"mouth-" + (user.frogvatarMouth + 1) + ".gif\"class='frogvatar'/>";
               chatMessageUsername.innerHTML = user.username;
               
               
           }
           messageFrogvatar.classList.add("chat-frogvatar-container");
           message = String(message);
           
           chatMessageBodyText.textContent = message;
           chatMessageBody.appendChild(chatMessageUsername);
           chatMessageBody.appendChild(chatMessageBodyText);
  
           chatNode.appendChild(chatMessageBody);
           chatNode.appendChild(messageFrogvatar);
           messageContainer = document.getElementById("chat-messages");
           messageContainer.appendChild(chatNode);
           messageContainer.scrollTop = messageContainer.scrollHeight;
           
        }
        
        
        
                
        function showOnline() {
            var userbar = document.getElementById("userbar");
            userbar.innerHTML = "";
           for (var i = 0; i < chatUsers.length; i++) {
               user = chatUsers[i];
               if (user.online) {
                   var userNode = document.createElement("div");
                   var userInfo = document.createElement("p");
                   
                   userNode.classList.add("user-box");
                   userInfo.classList.add("notification");
                   
                   
                   var  userFrogvatar = document.createElement("div");
                   

                   
                   userFrogvatar.classList.add("chat-frogvatar-container");
                   
                   userFrogvatar.innerHTML +=  "<img src=\""+"{{url_for('static', filename="")}}" + "head.gif" + "\"class='frogvatar'/>";
                   userFrogvatar.innerHTML +=  "<img src=\""+"{{url_for('static', filename="")}}"  +"eyes-" + (user.frogvatarEyes + 1) + ".gif\"class='frogvatar'/>";
                   userFrogvatar.innerHTML +=  "<img src=\""+"{{url_for('static', filename="")}}"  +"mouth-" + (user.frogvatarMouth + 1) + ".gif\"class='frogvatar'/>";
                   
                   userInfo.textContent = user.username;
                   

                   
                  
                                      
                   if (typeof gameState !== 'undefined' && gameState.started && !gameState.idle && currentlyDrawingUser() && currentlyDrawingUser().uid == user.uid) {
                        userNode.innerHTML += "<img src=\""+"{{url_for('static', filename='crayon.gif')}}\"" + "class='status-icon'/>"
                   }
                   if (typeof gameState !== 'undefined') { 
                        if (!gameState.started && user.ready) {
                            
                            userNode.innerHTML += "<img src=\""+"{{url_for('static', filename='checkmark.gif')}}\"" + "class='status-icon'/>";
                       }
                       if (user.score) {
                            userInfo.textContent = user.username + " (" + user.score + ")";
                       }
                       if (user.guessed_this_round) {
                            userNode.classList.add("user-guessed");
                       }
                    }
                    userNode.appendChild(userInfo);
                   
                   userNode.appendChild(userFrogvatar);
                   
                    
                   userbar.appendChild(userNode);


               }
            }
           
        }
        
        
        
        
        function ChatUser(uid, username, frogvatarEyes, frogvatarMouth) {
            this.uid = uid;
            this.frogvatarEyes = frogvatarEyes;
            this.frogvatarMouth = frogvatarMouth;
            this.username = username;
            this.online = false;
        }
        
        socket.on('user_info', function(data) {
            data = JSON.parse(data);
            if (!getUser(data.uid)) {
                chatUsers.push(new ChatUser(data["uid"], data['username'], data['frogvatarEyes'], data['frogvatarMouth']));
            }
        });
        
        function getUser(uid) {
            for (var i = 0; i < chatUsers.length; i++) {
                if (chatUsers[i].uid == uid) return chatUsers[i];
            }
        }
        
        

        var localUid = '{{user.id}}';
        var localFrogvatarMouth = '{{user.frogvatar_mouth}}';
        var localFrogvatarEyes = '{{user.frogvatar_eyes}}';
        var localUsername = '{{user.username}}';
        localFrogvatarMouth = parseInt(localFrogvatarMouth);
        localFrogvatarEyes = parseInt(localFrogvatarEyes);
        chatUsers.push(new ChatUser(localUid, localUsername, localFrogvatarEyes, localFrogvatarMouth));
        
        
        function sendMessage() {
        
            var msg = document.getElementById("chat-textarea").value.trim();
            
            if (msg) {
                socket.emit('chat_send', {'message':msg});
            }
            
        }
        
        socket.on('chat_receive', function(data) {
            data = JSON.parse(data);
            appendChatMessage(data.uid, data.message);
        });
        

        socket.on('user_online', function(data) {
            data = JSON.parse(data);
            user = getUser(data.uid);
            if (user) {
                user.online = true;
                showOnline();
            } else {
                console.log('no user for' + data.uid);
            }
        });
        socket.on('user_offline', function(data) {
            data = JSON.parse(data);
            user = getUser(data.uid);
            user.online = false;
            showOnline();
        });
        socket.on('server_message', function(data) {
            data = JSON.parse(data);
            appendChatMessage("ribbot", data.message);
        });                
        
        function handleInput(e) {
            var textArea = document.getElementById("chat-textarea");
            e.preventDefault();
            if (e.keyCode == 13) {
                sendMessage();
                textArea.value = "";
            }  else {
                textArea.value += String.fromCharCode(e.keyCode);
            }
        }

    
    </script>
    
</div>
