<link rel="stylesheet" href="{{ url_for('static', filename='styles/chat.css') }}">
    
    
    
<div id="userbar" class="user-container no-display-small">

</div>
<div id="chatbar" class="chat-container no-display-small">
    <div class="chat-messages" id="chat-messages">
        
    </div>
    <div class="chat-input" id="chat-input">
      <textarea class="chat-textarea" id="chat-textarea"></textarea>
      
     <button class="form-button right" id="chat-button">Send</button>
    </div>
    
    
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/chat.js')}}"></script>
    
</div>
