{% extends 'create_room.html' %}          
{% block roomform %}
    <div class="room-creation-form pane">
        <form action="{{url_for('create_room_pictionary')}}" method="post">
            <p>Room Name</p><input class="room-input"  name="room_name" maxlength="30" required>
            <p>Turn Length (in seconds)</p>
            <input type="text" value="60" style="width:40px;" name="room_turn_length" maxlength="3" required>
            <p>Number of Rounds</p>
            <input type="text" name="room_max_rounds" style="width:40px;" maxlength="3" value="3" required>
            <textarea name="room_wordlist" class="form-textarea">
{% include 'wordslist.html' %}
            </textarea>
                              
            <button class="ink-button form-button" type="submit">Create Room!</button>
          
       </form>
    </div>
{% endblock %}