

<style>
.frogvatar-container {
    width:100%;
    max-width:300px;
    max-height:300px;
    position:relative;
    margin: 0px auto;
    display:inline-table;
    vertical-align:middle;
}
.frogvatar {
    position:absolute;
    top:0;
    left:0;
    max-width:100%;
}


@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px); } 
    10% { -webkit-transform: translate(-1px, -2px); }
    20% { -webkit-transform: translate(1px, 0px); }
    30% { -webkit-transform: translate(0px, 2px); }
    40% { -webkit-transform: translate(1px, -1px); }
    50% { -webkit-transform: translate(-1px, 2px); }
    60% { -webkit-transform: translate(-1px, 1px); }
    70% { -webkit-transform: translate(2px, 1px); }
    80% { -webkit-transform: translate(-1px, -1px); }
    90% { -webkit-transform: translate(2px, 1px); }
    100% { -webkit-transform: translate(1px, -2px); }
}
.shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}
.shake {
    display:inline-block;
}

</style>

<div class="frogvatar-container">
    <img src="{{url_for('static',filename='head.gif')}}" class="frogvatar"/>
    <img src="{{url_for('static',filename='eyes-1.gif')}}" class="frogvatar" id="eyes"/>
    <img src="{{url_for('static',filename='mouth-1.gif')}}" class="frogvatar" id="mouth"/>
</div>

<script>
    var eyes = new Array();
    eyes[0] = '{{url_for("static",filename="eyes-1.gif")}}';
    eyes[1] = '{{url_for("static",filename="eyes-2.gif")}}';
    eyes[2] = '{{url_for("static",filename="eyes-3.gif")}}';
    eyes[3] = '{{url_for("static",filename="eyes-4.gif")}}';
    eyes[4] = '{{url_for("static",filename="eyes-5.gif")}}';
    eyes[5] = '{{url_for("static",filename="eyes-6.gif")}}';
    
    
    var mouths = new Array();
    
    mouths[0] = '{{url_for("static",filename="mouth-1.gif")}}';
    mouths[1] = '{{url_for("static",filename="mouth-2.gif")}}';
    mouths[2] = '{{url_for("static",filename="mouth-3.gif")}}';
    mouths[3] = '{{url_for("static",filename="mouth-4.gif")}}';
    mouths[4] = '{{url_for("static",filename="mouth-5.gif")}}';
    mouths[5] = '{{url_for("static",filename="mouth-6.gif")}}';


    function nextEyes() {
        eye++;
        setEyes();
    }
    
    function prevEyes() {
        eye--;
        setEyes();
    }
    
    function nextMouth() {
        mouth++;
        setMouth();
    }
    
    function prevMouth() {
        mouth--;
        setMouth();
    }
    
    function setEyes() {
        eye = eye >= eyes.length ? 0 : eye;
        eye = eye < 0 ? eyes.length - 1 : eye;
        document.getElementById("eyes").src = eyes[eye];
        eyesForm = document.getElementById("eyes-setting");
        if (eyesForm) {
            eyesForm.value = eye;
        }
    }
    function setMouth() {
        mouth = mouth >= mouths.length ? 0 : mouth;
        mouth = mouth < 0 ? mouths.length - 1 : mouth;
        document.getElementById("mouth").src = mouths[mouth];
        mouthForm = document.getElementById("mouth-setting");
        if (mouthForm) {
            mouthForm.value = mouth;
        }
    }

    function setRandomMouth() {
        mouth = getRandomInt(0, mouths.length);
        setMouth();
    }

    function setRandomEyes() {
        eye = getRandomInt(0, eyes.length);
        setEyes();
    }

    function setRandomFace() {
       setRandomMouth();
       setRandomEyes();
    } 
    setRandomFace();
    
    // for randomly selecting eyes and mouths 
    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
    }

</script>
