<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{{url_for('static', filename='socketio.min.js')}}"></script>
         <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">
         <script>
            var socket = io.connect('localhost:5000');

            socket.on('connect', function() {
                user_auth = '{{ user.auth_token }}';
                socket.emit('lobby_join', {'auth_token':user_auth});
            });
            siteData = {authToken: '{{ user.auth_token }}', eye: '{{ user.frogvatar_eyes }}', mouth: '{{ user.frogvatar_mouth }}'};
        </script>
         <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
            
            
         </style>
         
    </head>
    <body>
        {% include 'topbar.html' %}
        {% include 'flashes.html' %}
        <div class="page-wrapper">
            <div class="room-wrapper">
                <div class="sidebar col-5 no-display-small">
                   
                   <div class="bordered box centered-contents">
                       <h3>{{ user.username }}</h3>
                       {% include 'frogvatar-container.html' %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="rooms" id="rooms">
                        
                        {% for r in rooms %}
                        <div class="room">
                            
                                
                           
                            <div class="room-title"><a href="{{url_for('canvas',room_code=r.room_code)}}">{{ r.name }}</a></div>
                            <div class="room-count"> {{ r.get_active_users()|length }} </div>
                        </div>
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    </body>
</html>