<!DOCTYPE HTML>
<html>
<head>
    <title>{% include 'sitetitle.html' %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/ink/ink.min.css')}}"> <!-- inks css file -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" /> <!-- main custom CSS file -->
    <script type="text/javascript" src="{{url_for('static', filename='scripts/ink/ink-all.js')}}"></script> <!-- inks js bundle -->
    <script type="text/javascript" src="{{url_for('static', filename='scripts/vue/vue.js')}}"></script> <!-- vue JS include -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/font-awesome.min.css')}}">
    {% block includes %} {% endblock %}
</head>
<body>


{% include 'topbar.html' %}
{% include 'flashes.html' %}
{% block content %}

{% endblock %}
</body>
</html>
