<div class="all-100" id="toolbar-mobile">
    <div class="pane">
        <div class="color-mobile" style="background-color:#293194;" onclick="updateColor('#293194')"></div><div class="color-mobile" style="background-color:#00a3cc;" onclick="updateColor('#00a3cc')"></div><div class="color-mobile" style="background-color:#89c833;" onclick="updateColor('#89c833')"></div><div class="color-mobile" style="background-color:#fec901;" onclick="updateColor('#fec901')"></div><div class="color-mobile" style="background-color:#f56806;" onclick="updateColor('#f56806')"></div><div class="color-mobile" style="background-color:#f01917;" onclick="updateColor('#f01917')"></div><div class="color-mobile" style="background-color:#e22ee9;" onclick="updateColor('#e22ee9')"></div><div class="color-mobile" style="background-color:#d4d4d4;" onclick="updateColor('#d4d4d4')"></div><div class="color-mobile" style="background-color:#ffffff;" onclick="updateColor('#ffffff')"></div><div class="color-mobile" style="background-color:#000000;" onclick="updateColor('#000000')"></div>
    </div>       

       
</div>
