<style type="text/css">
    .nav-button {
            color: orangered;
            float: right;
            height: 40px;
            padding: 5px 15px;
            border-left: 2px solid #eee;
            display:flex;
            
    }
    .nav-text {
        vertical-align: middle;
        margin: auto;
        
    }

</style>

<div class="topbar">
    <a href="{{ url_for('home') }}"><img src="{{url_for('static',filename='ribbit-logo.png')}}" class="logo-image" /></a>
    {% if user %}
        <a href="{{ url_for('index') }}" class="nav-button"><span class="nav-text">See All Rooms</span></a>
        <a href="{{ url_for('create_room') }}" class="nav-button"><span class="nav-text">Create Room</span></a>
    {% else %}
        <a href="{{ url_for('register') }}" class="nav-button"><span class="nav-text">Sign up</span></a>
    {% endif %}
</div>