.frogvatar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
.frogvatar-chat {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0px auto;
    vertical-align:middle;
    float:left;
    display:none;
}
.chat-holder {
    height: 320px;
}
.user {
    overflow:hidden;
    border-left: 4px solid #ffbfff;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.user:hover {
    border-right: 1px solid #ffbfff;
    border-top: 1px solid #ffbfff;
    border-bottom: 1px solid #ffbfff;
    border-radius: 0px 3px 3px 0px;
}

.canvas-holder {

    height:550px;
}

#messages {
    overflow-y: scroll;
    max-height:250px;
}
.message {
    overflow-x: hidden;
    padding: 0.2em;
    margin: 0.2em;
}
.username {
    font-weight:bold;
    color: #a05abd;
}
.userInfo {
    overflow-wrap:break-word;
    padding: 0.4em;
    position: relative;
}
.ink-button {
    color: #fff;
    border-color: transparent;
    background-color: #a05abd;
}
#user-list {
    overflow-y: scroll;
    scrollbar-width:none;
    overflow-x: hidden;
}
#num-online {
    text-align:center;
    display:block;
}

.highlight {
    color: #a05abd;
    font-weight: bold;
}

