.frogvatar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
.frogvatar-chat {
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0px auto;
    vertical-align:middle;
    float:left;
}
.chat-holder {
    height: 320px;
}
.user {
    line-height:50px;
    height:55px;
    overflow:hidden;
}
.canvas-holder {

    height:550px;
}
#userbox {
    overflow-y: scroll;
    overflow-x: hidden;
}
#messages {
    overflow-y: scroll;
    max-height:250px;
}
.message {
    overflow-x: hidden;
    padding: 0.2em;
    margin: 0.2em;
}
.username {
    font-weight:bold;
}
.userInfo {
    overflow-wrap:break-word;
    padding: 0.4em;
    position: relative;
}