.rooms {
    overflow-wrap: break-word;
    border-radius: 6px;
    float: left;
    margin: 9px;
    background-color: white;
    text-align:left;
    width:100%;
    
}
.no-display {
    display: none !important;
}

.player-room {
  border: 1px solid transparent;
  border-left-color:#ffbfff;
  border-left-width: 4px;
  padding: 0px 10px;
}

.player-room a:hover {
  
  color:#a05abd;
}
.player-room:hover {
    border-color: #ffbfff;
    color: #ffbfff !important;
}

.room {
    margin:5px;
    text-align: center;
    line-height: 2.5;
    
}

.room a {
    text-decoration: none;
    font-weight: bold;
}


.room-title {
    text-align: left;
}
.room-count {
   
    color:#bbb;
    text-align: center;
}
.sidebar {
    float:left;
    border-radius:5px;
    
}
.room-wrapper {
    width:95%;
}
.page-wrapper {
    text-align:center;
}
