#idle-message-container {
    height:100%;
    width:100%;
    background-color:#000;
    opacity:0.9;
    display:flex;
}
.idle-message {
    display: flex;
    vertical-align: middle;
    text-align: center;
    padding: auto;
    margin: auto;
    font-size: 32px;
}
#idle-message-text {
    vertical-align: middle;
    display: block;
    color: #fff;
    clear: both;
}

#ready-button {
    height: 50px;
    text-align: center;
    background-color: #a05abd;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
#timer-background {
    position: absolute;
    background-color: #000000;
    opacity: 0.3;
    width: 200px;
    height: 20px;
    top: 40px;
    right: 40px;
    z-index:11;
}
#timer-foreground {
    position:absolute;
    background-color:#000000;
    opacity:0.8;
    width:200px;
    height:20px;
    top: 40px;
    right: 40px;
    z-index:12;
}
#word-display {
    position:absolute;
    color:#000;
    z-index:12;
    top:40px;
    left:40px;
    font-size:20px;
}
.user-guessed {
    border-color:#ff8a00;
}
